# Core Web Framework
flask==2.0.3
flask-cors
flask-sqlalchemy==2.5.1
sqlalchemy==1.4.47
pyjwt==2.13.0
psycopg2-binary==2.9.9
Werkzeug==2.2.3

# Audio processing
soundfile==0.12.1
numpy==1.26.4
librosa==0.11.0

# Web Scraping & Integrations
yt-dlp
requests==2.33.1
lyricsgenius==3.7.3
wikipedia==1.4.0
musicbrainzngs==0.7.1
